dist: bionic
language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
  - travis_retry composer install --prefer-dist --no-interaction --no-suggest

script: ./vendor/bin/phpunit --testdox --verbose
